name: CI/CD

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: "Name of the environment to deploy"
        options:
        - pr
        - dev
        - pre-prod
        - prod
  
env:
  AWS_REGION : "ca-central-1"
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
  IMAGE_REPO_TAG: bac-lac-gc-ca/mft:latest

permissions:
      id-token: write
      contents: read
      actions: write

jobs:
  Code-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Checkov security scan
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: terraform
          output_format: cli
  Deploy:
    needs: Code-check
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    defaults:
      run:
        working-directory: ./terraform
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_GITHUB_DEVOPS_ROLE }}
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          aws-region: ${{ env.AWS_REGION }}
          role-skip-session-tagging: true
          audience: sts.amazonaws.com
      
      - name: Create tfvars file
        uses: ./.github/actions/create-tfvars-file
        with:
          secrets: ${{ toJSON(secrets) }}
          vars: ${{ toJSON(vars) }}

      - name: Terraform-Setup
        id: Setup
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: true

      - name: Terraform-Init
        id: Init
        run: terraform init 
          -backend-config="dynamodb_table=main-tfstate-lock-1a6f390e" 
          -backend-config="key=${{ inputs.environment }}/ga-vm/terraform.tfstate"

      - name: Terraform-Apply
        id: Apply
        run: terraform apply -var-file="pipeline.auto.tfvars" -var="ENV=${{ inputs.environment }}" -var="CERT_BODY=${{ secrets.CERT_BODY }}" -var="CERT_CHAIN=${{ secrets.CERT_CHAIN }}" -var="CERT_PRIVATE_KEY=${{ secrets.CERT_PRIVATE_KEY }}" -auto-approve
